body {
    font-family: roboto;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #e5e7eb;;
}

.hero-info button {
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    border: none;
}

.section-one {
    background-color: #1F2937;
}

.header {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 425px;
}

.hero-info {
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-secondary-text,
.image {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.image {
    background-color: rgba(239, 239, 239, 0.345);
    width: 460px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}